generated/
bin/
bpmn/
*.wad
~$aApiGuide.odt
~WRL0005.tmp
data/config2.json
Lab Guide/~$b 12 - Explore the API.docx
Lab Guide/~WRL1636.tmp
src/junit/Weather4uTest.java
testSuites/curls.sh
docs/~$$SynchronousRpaApiArchitecture.~vsd
docs/~$$AuthenticatedRpaApiJourney.~vsd
Lab Guide/~WRL3852.tmp
